body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}
  
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  color: #424242;
  max-width: 1200px;
  margin: auto auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  position: relative;
  height: 100%;
}
  
h1, h2, h3, h4, h5 {
  margin: 0; 
}
  
* {
  box-sizing: border-box;
}
  
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(23, 87, 182);
}

footer {
  width: 100%;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

footer a {
  color: #424242;
  text-decoration: none;
}
  


/*
 *
 * Common
 * 
 */

.blue {
  color: rgb(84, 120, 165);
}

.right-align {
  text-align: right;
  float: right;
}



/*
 *
 * Header
 *
 */

header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 70px;
  margin-left: 8px;
  vertical-align: top;
  margin-top: 0px;
}

/* Hides the Hamburger Menu */
.hamburger-back {
  visibility: hidden;
  pointer-events: none;
}

#menuToggle {
  display: flex;
  justify-content: space-between;
}

#menuToggle input {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  position: absolute;
  right: 0;
}

#menuToggle span {
  visibility: hidden;
  pointer-events: none;
}

/* Navigation menu properties */
#menu {
  display: flex;
  height: 70px;
  width: 75vw;
  max-width: 960px;
  flex-direction: row;
  background: #ededed;
}

#menu li {
  /* display: inline; */
  /* font-family: Roboto, sans-serif; */
  font-size: 16px;
  font-weight: bold;
}

#menu a {
  padding: 22px 8px;
  flex: auto;
  text-align: center;
}

#menu a:focus, #menu a:hover {
  color: white;
  background-color: rgb(0, 93, 171);
}



/*
 *
 * Content
 *
 */

figure {
  display: flex;
  position: relative;
  overflow: hidden;
  left: 0;
  width: 100%;
  max-height: 400px;
  margin: auto;
}

figure img {
  width: 100%;
  align-self: center;
  top: 0;
  left: 0; 
}

figcaption {
  animation-name: slideup;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: -90px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 22px;
  width: 100%;
  height: 90px;
  z-index: 1;
}

figcaption p {
  position: absolute;
  margin: 14px 40px;
}

figcaption a {
  color: white;
  text-decoration: none;
  /* display: inline; */
}

@keyframes slideup {
  from {bottom: -50%;}
  to {bottom: 0;}
}

.blue-bar {
  background-color: rgb(0, 93, 171);
  height: 16px;
  position: relative;
  top: 0px;
}

.welcome-container {
  margin-top: 50px;
  margin-bottom: 16px;
  padding: 14px;
  padding-right: 14px;
  display: flex;
  justify-content: space-around;
}

.welcome-left {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
}

.welcome-left li {
  padding-bottom: 14px;
  padding-left: 50px;
}

.welcome-right {
  flex: 2;
  padding-right: 50px;
}

 /* Youtube Reflexive */
.container {
  width: 100%;
  max-width: 560px;
  margin: auto;
  margin-bottom: 0;
}

.vid-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 10px;
  height: 0; 
  overflow: hidden;
}

.vid-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 560px;
  height: 100%;
  max-height: 315px;
}

.grey-box {
  background-color: rgb(236, 236, 236);
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  display: inline-flex;
  justify-content: space-between; 
}

.blue-box {
  background-color: rgb(0, 93, 171);
  color: white;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px;
  display: block;
  justify-content: space-between; 
}

.white-box {
  background-color: white;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between; 
}

blockquote p, cite {
  font-size: 16px;
}

/* Address */
address {
  padding: 10px 16px 10px 16px;
  font-style: normal;
  font-size: 12px;
}

.social-media {
  padding-right: 20px;
  padding-top: 30px;
  margin-bottom: 0;
}

i.fab.fa-linkedin, i.fab.fa-youtube {
  font-size: 26px;
  width: 50px;
  text-align: center;
  color: #424242;
}

i.fab.fa-linkedin:focus, i.fab.fa-linkedin:hover {
  color: rgb(0, 93, 171);
}

i.fab.fa-youtube:focus, i.fab.fa-youtube:hover {
  color: darkred;
}
